In [2]:
%run 'init.ipynb'

['/home/ar1096/Desktop/mc/MonteCarlo-studies-', '', '/home/ar1096/scratch/envs/mypax/lib', '/home/ar1096/scratch/envs/mypax/lib/python34.zip', '/home/ar1096/scratch/envs/mypax/lib/python3.4', '/home/ar1096/scratch/envs/mypax/lib/python3.4/plat-linux', '/home/ar1096/scratch/envs/mypax/lib/python3.4/lib-dynload', '/home/ar1096/scratch/envs/mypax/lib/python3.4/site-packages', '/home/ar1096/scratch/envs/mypax/lib/python3.4/site-packages/setuptools-27.2.0-py3.4.egg', '/home/ar1096/scratch/envs/mypax/lib/python3.4/site-packages/IPython/extensions', '/home/ar1096/.ipython']

In [3]:
def event_scan(df, eventid):
    '''Print the event dataframe (analogous to Scan of ROOT tree) in table format'''
    event, primary = event_df(df[df.eventid==eventid])
    display(HTML(event.to_html()))

In [82]:
from pandas import HDFStore
from pandas import read_hdf

In [83]:
#=== 1. Read G4 root file and export into a dataframe ===
rootfile = 'outputprova_Sort.root'

df = read_root(rootfile, 'tSort')

#df.head(3)

,eventnb,xpri,ypri,zpri,epri,typepri,S1,ns,X,Y,...,LScinttime,LScintekin,Nsave,SaveFlag,SaveX,SaveY,SaveZ,SaveTime,SaveTrkid,LScint_time_1st_deposit
0,0,-153.773788,538.925476,133.191055,1000.999512,[neutron],2737.560791,1,[-227.484],[588.044],...,"[32.5344, 35.5521, 35.7812, 35.9032, 37.856, 3...","[986.223, 784.889, 352.542, 295.882, 288.397, ...",2,"[30, 31]","[-546.638, -546.638]","[649.294, 649.294]","[-127.835, -127.835]","[16291.9, 16291.9]","[1, 1]",32.534401
1,1,56.433868,543.763428,155.690857,999.325806,[neutron],28.514620,2,"[266.622, 257.402]","[544.545, 582.247]",...,"[79.6989, 81.282, 152.48, 160.449, 163.574, 17...","[723.609, 723.609, 38.9286, 38.7911, 38.7911, ...",2,"[30, 33]","[322.79, 322.79]","[-618.602, -618.602]","[669.655, 669.655]","[19563.1, 19563.1]","[1, 1]",79.698929
2,2,-145.729248,-135.507492,142.424011,999.565247,[neutron],1467.252197,6,"[-337.366, -204.274, -279.004, -172.453, -268....","[-327.632, -610.093, -588.457, -575.269, -428....",...,"[210.794, 210.886, 212.031, 213.222, 215.978, ...","[177.265, 144.006, 71.6896, 51.3703, 43.5191, ...",2,"[30, 31]","[-793.492, -793.492]","[-188.032, -188.032]","[-161.633, -161.633]","[9727.11, 9727.11]","[4, 4]",210.793640

pandas.core.frame.DataFrame

In [96]:
name_hdf = '/home/ar1096/Desktop/mc/MonteCarlo-studies-/pickle_files/test.h5'
name2 = '/home/ar1096/Desktop/mc/MonteCarlo-studies-/pickle_files/test2.h5'
columns = ['ns', 'xpri', 'ypri','zpri', 'X', 'Y', 'Z', ]

data = pd.DataFrame()
data = df[columns]
type(data)

data.to_hdf(name2, key='data', mode='a')
data.head(3)

/home/ar1096/scratch/envs/mypax/lib/python3.4/site-packages/pandas/core/generic.py:1138: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->['X']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

,ns,xpri,ypri,zpri,X
0,1,-153.773788,538.925476,133.191055,[-227.484]
1,2,56.433868,543.763428,155.690857,"[266.622, 257.402]"
2,6,-145.729248,-135.507492,142.424011,"[-337.366, -204.274, -279.004, -172.453, -268...."

In [94]:
data_test = read_hdf('/home/ar1096/Desktop/mc/MonteCarlo-studies-/pickle_files/test2.h5',key='data' )

In [95]:
#data_test

     ns        xpri        ypri        zpri
0     1 -153.773788  538.925476  133.191055
1     2   56.433868  543.763428  155.690857
2     6 -145.729248 -135.507492  142.424011
3     9 -264.317993  -54.718876   82.058144
4     3  514.644714 -367.864044  162.486938
5    10  465.749847  153.039459  109.166336
6     4 -480.285278  146.139709   79.255203
7     9 -444.299591 -373.739349   89.358475
8     1  242.438126  567.290710   77.883911
9     3  -53.806305 -277.828979  150.704666
10    4 -499.097168    8.967495  125.711914
11    1  437.662903  508.758362  120.734451
12    4  501.224518  -58.331680   78.337814
13    5  -16.929054  309.302124   67.998077
14    1   68.174454  621.452515   82.466415
15    5 -145.531845 -407.023041   63.701393
16    7 -470.697693 -247.161682   69.834854
17    2  266.484436  473.164276  163.034683
18    5  432.978333 -240.869431   72.651100
19    3 -491.375824  323.915375   78.127243
20    5  -58.769417  407.411285  134.227325
21    1  441.314117  517.109192   81.671906
22    5 -406.154358  421.855438  141.263000
23    6  451.088318  -69.664093  156.149048
24    5  215.871613  638.236145   64.166023
25    3  308.935547 -568.255798  167.032806
26    1  309.515289  -16.054630  159.244110
27   21  222.496033  353.315735   74.477005
28   32 -647.127563 -136.611649  157.579285
29    5  -24.168873  486.455627  135.092209
..   ..         ...         ...         ...
513  13 -460.542114  124.137589  119.409653
514   1 -362.665466  324.813477  158.678345
515   1  -54.509163  216.232590   82.591293
516   1  364.686768 -329.121674   92.048691
517   7  149.590881 -425.508789  149.516052
518   1 -266.693970 -495.661255  136.015457
519   2  335.470215  320.198151   85.067223
520   4  355.003723 -487.591187  156.921097
521   5 -170.241638 -151.014236  152.643295
522   8 -465.752686  131.868362   72.587440
523   9  259.395508 -286.810669  139.971115
524   2 -245.532227 -552.373108  105.244301
525   1 -295.033173  362.761108   88.934471
526   4  307.862671  428.178680  160.043472
527  12  497.067535 -355.775543  128.935287
528   2  571.108276  -49.998474   80.995560
529  12 -436.624817  105.499939   77.672050
530   4  -87.833694  550.416870   77.061081
531   1  -71.898178  262.135986   73.172951
532   2   -8.880138  428.028870  121.530823
533  21   73.688126  442.005737   83.771324
534   2  430.806335  -88.534164   86.513756
535   1 -122.090721 -460.299011   90.949486
536   2  -92.944427 -147.588928  108.152245
537  10  -34.356022  345.946594  106.330063
538  10  112.939262 -451.114075   87.855293
539  21 -136.914917   39.184666   77.757454
540   9  130.575180  183.884811   73.618126
541  16 -259.637268  435.969269   65.031479
542   3  497.503479  -82.310577  129.461151

[543 rows x 4 columns]

In [34]:
data_test.nsteps

0       22
1        5
2       31
3       24
4        9
5       13
6       74
7        0
8        0
9        0
10       0
11       0
12      82
13       0
14       5
15       0
16       3
17       0
18      23
19     156
20       6
21       0
22      20
23       0
24       0
25       0
26     137
27       0
28       3
29      10
      ...
970     55
971      0
972     23
973    144
974      0
975      0
976      0
977     18
978     88
979     74
980     49
981      8
982      0
983    224
984      1
985      0
986     89
987      7
988     18
989      0
990      0
991    125
992     49
993      0
994     99
995      0
996     55
997      6
998    171
999     11
Name: nsteps, dtype: int32